<!-- src/app/login/login.component.html -->
<div class="login-container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Login</h1>
    <div class="input-group">
      <input type="email" formControlName="email" placeholder="Email">
    </div>
    <div class="input-group">
      <input type="password" formControlName="password" placeholder="Password">
    </div>
    <div class="input-group2">
      <label>
        <input class="rememberMe" type="checkbox" formControlName="rememberMe">
        Remember me
      </label>
    </div>
    <div *ngIf="errorMessage" class="error-message">
      <div>Invalid email and/or password</div>
    </div>  
    <div class="input-group">
      <button type="submit" class="primary-btn">Login</button>
    </div>
    <div class="input-group">
      <button (click)="loginWithGoogle()" class="google-btn">Login with Google</button>
    </div>
    <div class="input-group">
      <button (click)="regsiterAccount()" class="register-btn">Register Account</button>
    </div>
  </form>
</div>
