<h1 mat-dialog-title>Add Idea</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Idea</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Categories</mat-label>
    <mat-select [(ngModel)]="categories" multiple>
      <mat-option *ngFor="let category of availableCategories" [value]="category.name">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Emoji</mat-label>
    <input matInput [(ngModel)]="emoji">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</div>
